<!--
  Generated template for the OrderAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Gestionar Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group *ngFor="let ord of orders" full>
        <ion-item-divider color="light">Mesa: {{ ord.board }} <br /> Estado: {{ ord.status | uppercase }}</ion-item-divider>
          <ion-item *ngFor="let producto of ord.products">
            <ion-avatar item-start>
              <img [src]="getUrl(producto.url)">
            </ion-avatar>
          <h2>{{ producto.name | uppercase }}</h2>
          <p>{{ producto.quantity }}</p>
          <p><strong>$</strong>{{ producto.price * producto.quantity }}</p>
        </ion-item>
        <ion-item-divider color="light">Total: {{ loadTotal(ord) }}</ion-item-divider>
      </ion-item-group>
    <ion-item-group *ngIf="orders.length <= 0 || !orders">
        <ion-item>
          No hay pedidos para esta sucursal.
        </ion-item>
      </ion-item-group>
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-label stacked>Sucursal</ion-label>
        <ion-select [(ngModel)]="branchSelect" (ionChange)="getOrdersByBranch($event)" okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let branch of branchs" value="{{ branch.branchId }}">{{ branch.nameBranch }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>