<ion-header>
  <ion-navbar hideBackButton="true">
    <table>
      <tr>
        <td center>
          <img src="../../assets/imgs/logo.png" (click)="redirectHome()" width="80px" style="display:inline-block;" height="80px">
        </td>
        <td>
          <ion-title *ngIf="indexCount == 0">Ingresar</ion-title>
          <ion-title *ngIf="indexCount != 0">Menú</ion-title>
        </td>
      </tr>
    </table>    
    <ion-buttons end *ngIf="indexCount == 0">
      <button ion-button (click)="dismiss()">
        Atras
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="indexCount == 1">
        <button ion-button icon-only (click)="LogOut()">
          <ion-icon name="md-power"></ion-icon>
          &nbsp;Cerrar Sesión
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="indexCount == 0">

  <div style="width: 100%; text-align: center;">
    <ion-img class="imgLogin" src="../../assets/imgs/Buttons/Login.png"></ion-img>
  </div>

    <ion-item>
      <ion-label floating color="white">Usuario</ion-label>
      <ion-input type="text" color="white" [(ngModel)]="user.userName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating color="white">Clave</ion-label>
      <ion-input [(ngModel)]="user.password" [type]="passwordType" color="white" clearOnEdit="false"></ion-input>
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>¿Mantener Sesión activa?</ion-label>
      <ion-checkbox [(ngModel)]="session" item-end color="dark" checked="true"></ion-checkbox>
    </ion-item>
<br/>
<br/>
<br/>
<br/>
    <button ion-button block (click)="LogIn()">
        Login
      </button>
</ion-content>
<ion-content padding *ngIf="indexCount == 1">
  <table class="menu">
    <tr>
      <td>
        <button id="btn_order" (click)="RedirectOrders()"></button>
      </td>
    </tr>
    <tr>
      <td>
          <button id="btn_product" (click)="RedirectProduct()"></button>
      </td>
    </tr>
    <tr>
      <td>
          <button id="btn_user" (click)="RedirectUsers()"></button>
      </td>
    </tr>
    <tr>
      <td>
          <button id="btn_category" (click)="RedirectCategories()"></button> 
      </td>
    </tr>
    <tr>
      <td>
          <button id="btn_branch" (click)="RedirectBranchs()"></button> 
      </td>
    </tr>
  </table>
</ion-content>
