<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <table>
        <tr>
          <td>
            <img src="../../assets/imgs/logo.png" width="40px" style="display:inline-block" height="40px">
          </td>
          <td>
            <ion-title>
              Pedido
            </ion-title>
          </td>
        </tr>
      </table>
      <ion-buttons end>
        <button ion-button (click)="updateInfoDevice()" large color="white">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <label style="font-size: 25px;">Sucursal: {{ branchLabel }}</label><br/>
    <label style="font-size: 25px;">Mesa: {{ board }}</label>
    <ion-item-group full>
      <ion-item-divider class="divider" color="light">Pedido {{ status }}
        <ion-icon *ngIf="orderId != '' && status == 'PENDIENTE'" item-right name="trash" (click)="deleteOrder()"></ion-icon>
      </ion-item-divider>
        <ion-item *ngFor="let product of products">
            <ion-avatar item-start>
              <img [src]="getUrl(product.url)">
            </ion-avatar>
          <label style="font-size: 3rem;">{{ product.name }}</label>
          <p><strong>$</strong>{{ product.price * product.quantity }}</p>
          <table item-end>
            <tr>
              <td>
                <ion-badge style="margin: 9px 8px 9px 0;" item-end (click)="remove(product)">-</ion-badge>
              </td>
              <td style="width: 40px; text-align: center;">
                {{ product.quantity }}
              </td>
              <td>
                <ion-badge item-end (click)="add(product)">+</ion-badge>
              </td>
            </tr>
          </table>
        </ion-item>
        <ion-item *ngIf="products.length <= 0 || !products">
          No hay pedido creado.
        </ion-item>
      </ion-item-group>
    <ion-footer>
      <ion-toolbar *ngIf="enabledButton">
        <button ion-button full (click)="SendOrder()">{{textButton}} ${{ total }}</button>
      </ion-toolbar>
      <ion-toolbar *ngIf="!enabledButton">
        <label full style="font-size: 25px;">Total: ${{ total }}</label>
      </ion-toolbar>
    </ion-footer>
</ion-content>
