<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <table>
      <tr>
        <td>&nbsp;
          <img src="../../assets/imgs/logo.png" width="80px" style="display:inline-block" height="80px">
        </td>
        <td>
          <ion-title>Productos</ion-title>
        </td>
      </tr>
    </table>      
      <ion-buttons end>
        <button ion-button (click)="LogIn()">
          <ion-icon name="contact"></ion-icon>
          &nbsp;Ingresar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-group *ngFor="let prod of groupProducts" full>
        <ion-item-divider class="divider">{{ prod.id | uppercase }}</ion-item-divider>
        <ion-grid>
            <ion-row>
              <ion-col col-6 col-md-4 *ngFor="let product of prod.products">
                <ion-card>
                  <div (click)="itemSelected(product)">
                  <img src="http://drive.google.com/uc?export=view&id=1RCWP1ke6Tp5U9KUlr-qqtreGGEGROB6V" />
                  <ion-card-content>
                    <ion-card-title color="light">
                      {{ product.name }}
                    </ion-card-title>
                    <p style="color: #FFFFFF">
                      {{ product.description }}
                    </p>
                  </ion-card-content>
                  </div>
                  <ion-item>
                    <ion-icon name='logo-usd' item-start style="color: #00ff37"></ion-icon>
                    {{ product.price }}
                    <ion-badge item-end (click)="add(product)">+</ion-badge>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item-group>
    </ion-list>

    
  <ion-fab bottom right>
    <button ion-fab (click)="notification()"><ion-icon name="notifications"></ion-icon></button>
  </ion-fab>
</ion-content>