page-orders {
    background-color:#000000;
}

.banner{
    background-image: url("../assets/imgs/fondoRealNoFake.jpg");
    background-position: center center;
    background-size: cover;
}

.forecast_container{
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    font-size:0.8em;
    font-weight:300;
}

.divider {
    color: black;
    background: rgb(242,174,46);
    background: linear-gradient(90deg, rgba(242,174,46,1) 0%, rgba(242,208,90,1) 50%, rgba(242,174,46,1) 100%);
}